<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>展示页面</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/zTree_v3/css/demo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
<!--    <script type="text/javascript" th:src="@{/zTree_v3/js/jquery-1.4.4.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/zTree_v3/js/jquery.ztree.core.js}"></script>

</head>
<body>

<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>

    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>1111</th>
                    <th>2222</th>
                    <th>3333</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">aaa</th>
                    <td>bbb</td>
                    <td>ccc</td>
                    <td>ddd</td>
                </tr>
            </tbody>

        </table>
    </div>

<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<SCRIPT>
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"test1", open:true, children:[
                {name:"test1_1"}, {name:"test1_2"}]},
        {name:"test2", open:true, children:[
                {name:"test2_1"}, {name:"test2_2"}]}
    ];
    $(document).ready(function(){
        $.ajax({
            url: "projects" ,
            type: "GET",
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, data);
            }
        });

    });
</SCRIPT>
</body>
</html>